.el-dialog {
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto;
}

.el-form {
    --el-form-label-font-size: 1rem !important;
}

:root {
    --menu-not-collapse-width: 13vw;
    --menu-collapse-width: 5vw
}